<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.apps.maitreya.samaritansmumbai">

    <!-- To auto-complete the username text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogEntryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLogsRecyclerActivity"
            android:label="@string/title_activity_view_logs_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewSingleLogActivity" />
        <activity
            android:name=".SendNotificationActivity"
            android:label="@string/title_activity_send_notification"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".FCMService"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ReceiveNotificationActivity"
            android:label="@string/title_activity_recieve_notification"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>